# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment / secrets
.env
.env.*
!.env.example

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
# Android debug keystore
android/app/debug-keystore

# Android debug keystore
android/app/debug.keystore
